body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-wrap {
  word-wrap: break-word;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
  flex-wrap: nowrap;
  min-height: 100%;
  max-width: 100%;
  /* overflow-x: scroll; */
}

.bot-item {
  padding: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  /* width: 100px;
  height: 220px; */
  border: 1px solid black;
  margin: 10px;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
 
}

.bot-item img {
  max-width: 100%;
  max-height: 100%;
  background-color: lightgrey;
}

.bot-item span {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.bot-item .bott {
  font-size: 10px;
  color: grey;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;

}
